@import url(../Main.css);

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  color: white;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

#Welcome-User {
  font-size: 2rem;
}

#Container {
  width: 100%;
  min-width: 400px;
  max-width: 1400px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.Img {
  width: 30%;
  max-width: 400px;
  min-width: 250px;
  height: 400px;
  min-height: 400px;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  filter: brightness(50%);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.Img:hover {
  border: 2px solid var(--Accent);
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.3);
  filter: brightness(100%);
  transform: scale(1.1);
  z-index: 10;
}

.Img h2 {
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 0;
}

.icon-do-trofeu {
  width: 50%;
  height: 40%;
  background-image: url(../Imgs/Icons/trofeu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#img-street {
  
  background-image: url(../Imgs/Logged-Games/Game01.svg);

}

#img-Csgo {

  background-image: url(../Imgs/Logged-Games/Game02.svg);

}

#img-valorant {

  background-image: url(../Imgs/GameImgs/embreve01.svg);

}

#img-R6 {

  background-image: url(../Imgs/GameImgs/embreve02.svg);

}

#img-vegetto {

  background-image: url(../Imgs/GameImgs/embreve03.svg);

}

#img-lol {

  background-image: url(../Imgs/GameImgs/admingame01.svg);

}

#img-neon {
  background-image: url(../Imgs/GameImgs/admingame02.svg);
}

.Embreve {
  cursor: default;
  opacity: 25%;
}

@media (max-width: 968px) {
  #Container {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }
  
  .Img {
    width: 80%;
    height: 300px;
  }
  
  .Img:hover {
    transform: scale(1.05);
  }
}