* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@import url(./Main.css);

body {
  height: auto;
  width: 100vw;
}

main {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75vh 80vh 50vh;
}

h1 {
  color: var(--Primary-Light);
  z-index: 2;
}

#Hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;
}

#Hero div {
  overflow: hidden;
}

#Hero-Section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 0.5rem;
}

.Hero-Game {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 20%;
  transition: all 0.3s ease;
}

.Hero-Game:hover {
  opacity: 80%;
  transform: scale(1.1);
}

#Hero-Game01 {
  background-image: url(./Imgs/Hero-Games/Hero1.svg); 
}

#Hero-Game02 {
  background-image: url(./Imgs/Hero-Games/Hero2.svg);
}

#Hero-Game03 {
  background-image: url(./Imgs/Hero-Games/Hero3.svg);
}

#Inputs {
  position: absolute;
  justify-self: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.2fr);
  margin-top: 5%;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

#Inputs2 {
  position: absolute;
  justify-self: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.2fr);
  margin-top: 10%;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  z-index: 2;
}

#Games {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
}

#Games h1 {
  align-self: center;
  justify-self: center;
}

#GamesIMGS {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  grid-template-rows: 1fr;
  gap: 1vw;
  padding: 1% 5% 1% 5%;
}

.GameImg {
  display: flex;
  align-items: end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border: 2px solid var(--Primary-Light);
  transition: all 1s ease;
}

.GameImg:hover {
  transform: scale(1.05);
}

.DivGameImg {
  width: 100%;
  height: 40%;
  background-color: rgba(27, 27, 27, 0.932);
  transition: all 0.3s ease;
}

.DivGameImg h2 {
  margin: 2vh;
  font-size: 1rem;
  text-align: center;
}

.GameImg:hover div {
  height: 20%;
}

#ImgGame01 {
  background-image: url(./Imgs/GameImgs/imgame01.svg);
}

#ImgGame01:hover {
  box-shadow: 0px -50px 50px 50px rgba(163, 22, 22, 0.548) inset;
}

#ImgGame01:hover div {
  background-color: rgba(163, 22, 22, 0.548);
}

#ImgGame02 {
  background-image: url(./Imgs/GameImgs/imgame02.svg);
}

#ImgGame02:hover {
  box-shadow: 0px -50px 50px 50px rgba(22, 24, 163, 0.548) inset;
}

#ImgGame02:hover div {
  background-color: rgba(22, 24, 163, 0.548);
}

#ImgGame03
 {
  background-image: url(./Imgs/GameImgs/imgame03.svg);
}

#ImgGame03:hover {
  box-shadow: 0px -50px 50px 50px rgba(163, 130, 22, 0.548) inset;
}

#ImgGame03:hover div {
  background-color: rgba(163, 130, 22, 0.548);
}

#ImgGame04 {
  background-image: url(./Imgs/GameImgs/imgame04.svg);
}

#ImgGame04:hover {
  box-shadow: 0px -50px 50px 50px rgba(31, 102, 207, 0.548) inset;
}

#ImgGame04:hover div {
  background-color: rgba(31, 102, 207, 0.548);
}

#ImgGame05 {
  background-image: url(./Imgs/GameImgs/imgame05.svg);
}

#ImgGame05:hover {
  box-shadow: 0px -50px 50px 50px rgba(104, 121, 133, 0.548) inset;
}

#ImgGame05:hover div {
  background-color:rgba(104, 121, 133, 0.548);
}

#ImgGame06 {
  background-image: url(./Imgs/GameImgs/imgame06.svg);
}

#ImgGame06:hover {
  box-shadow: 0px -50px 50px 50px rgba(202, 88, 35, 0.548) inset;
}
#ImgGame06:hover div {
  background-color: rgba(202, 88, 35, 0.548);
}

#Video {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#Video {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(Video/GamesVideo.gif);

}