* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100vw;
  height: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 0.2fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.icon-trofeu {
  width: 128px;
  height: 128px;
  background-image: url(./Imgs/Icons/trofeu.svg);
  background-position: center;
  background-size: cover;
}

#Inputs {
  display: grid;
  width: 25%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}


